
.images, .fight , .table, .result{
  margin-top: 30px;
}

/*ZMIENNE*/

:root {
  --responsive-color: red;
}



/*RESPONSIVE START*/

.responsive{
  height: 28px;
  width: 100%;
  background-color: var(--responsive-color);
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
}

@media (min-width: 430px) {
  .responsive{
    display: none;
  }
}

.responsive img{
  height: 20px;
}

.responsive *{
  color: white;
}


/*RESPONSIVE END*/

.levels{
  background-color: var(--responsive-color);
  display: flex;
  flex-direction: row;
  flex-wrap: nowrap;
  justify-content: space-evenly;
}

.levels span{
  text-align: center;
  display: inline;
}


@media (max-width: 430px) {
  .levels{
    display: none;
    position: absolute;
    width: 100%;
  }

  .levels span{
    display: block;
  }

}


/*Pole wyboru*/

img{
  height: 100px;
}

.images{
  display: flex;
  flex-wrap: nowrap;
  justify-content: center;
}

@media (max-width: 430px) {

  .images{
    justify-content: space-around;
  }

  img{
    height: 70px;
  }
}

/*pole walki*/

.fight{
  display: flex;
  flex-direction: row;
  justify-content: space-around;
}

.text{
  display: flex;
  align-items: center;
}



/*tabela wyników*/

.table{
  display: flex;
  justify-content: center;
}

.table td{
  border-top: 0;
}

table, td{
  border: 1px solid black;
}